/* Styles for Neural News engineering notebook */

.header {
        text-align: center;
}

.leg {
        margin-left: 15%;
        margin-right: 15%;
}

body {
        margin-bottom: 10%;
}

h5 {
        font-style: italic;
}

img {
        width: 100%;
}

@media screen and (min-width: 600px) {
        #demo {
                width: 40%;
        }
}